:root {
    --red: hsla(0, 32%, 24%, 100%);
    --white: hsla(50, 63%, 93%, 100%);
    --green: hsla(105, 20%, 10%, 95%);
    --light-green: hsla(105, 20%, 20%, 95%);
    --gray: hsla(0, 0%, 95%, 100%);
    --red-hover: hsla(0, 77%, 22%, 1);
    --gold: hsla(49, 63%, 69%, 1);
    --serif: "Georgia", serif;
}

body {
    font-family: "Tahoma", sans-serif;
    color: var(--red);
    margin: 0 auto;
    background: #ffffff;
}

.container {
    padding: 5vw;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.hide-mobile {
    display: none;
}

/* nav */

.menu {
    width: 25px;
    position: absolute;
    right: 5%;
    margin: 0;
    z-index: 7;
}

nav ul {
    font-size: 35px;
    position: fixed;
    width: 60%;
    top: 0;
    right: 0;
    text-align: left;
    background: var(--green);
    margin-top: 0;
    height: 100%;
    color: var(--white);
    line-height: 2em;
}

nav ul li {
    background: var(--light-green);
    margin: 10px 0;
    padding-left: 20px;
}

nav ul :first-child {
    margin-top: 70px;
}

.exit-btn img {
    height: 25px;
    width: auto;
}

.logo {
    margin-top: 10%;
    width: 100%;
}

/* hero */

.hero {
    display: grid;
    justify-items: center;
}

.hero h2 {
    font-size: 1.3em;
    text-align: center;
}

.featured-box {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    background: hsla(0, 32%, 24%, .5);
    padding: 10px;
}

.featured-name {
    grid-column: 1 / 3;
    font-family: "Georgia", serif;
    font-size: 2.5em;
    font-weight: 900;
    background: var(--gray);
    text-align: center;
}

.featured-image {
    background: white url(/img/calzin_sm.png);
    background-size: cover;
    background-position: top;
    height: 300px;
}

.featured-description {
    background: white;
    padding: 10px;
    font-size: 0.8em;
}

.wine-club-cta {
    text-align: center;
}

#wc-sign-up {
    background-color: var(--red);
    color: white;
    border: none;
    border-radius: 15px;
    height: 50px;
    width: 47%;
    font-size: 1.4em;
    font-family: "Georgia", serif;
}

#wc-learn-more {
    background: transparent;
    border: solid 3px var(--red);
    color: var(--red);
    height: 50px;
    width: 47%;
    font-size: 1.4em;
    font-family: "Georgia", serif;
}

/* red section */

.red-container {
    background: var(--red);
    color: var(--gray);
}

.red-section-list {
    display: grid;
    grid-gap: 20px;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.red-section-list li {
    display: grid;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

.red-section-list li h3 {
    font-family: var(--serif);
    font-size: 1.3em;
}

/* bottom */

.bottom {
    display: grid;
    justify-items: center;
    text-align: center;
}

.bottom img {
    max-width: 300px;
    max-height: auto;
    border: solid 3px var(--red);
}

/* footer */

.footer {
    display: grid;
    grid-template-columns: auto 1fr;
    justify-items: right;
    margin-top: 50px;
}

.footer img {
    width: 100px;
}

.contact {
    display: grid;
    align-content: end;
}

.footer ul {
    text-align: right;
    margin: 0;
}

.footer ul li {
    display: inline;
}

.footer ul img {
    width: 40px;
    height: 100%;
}

.footer address {
    text-align: right;
    font-style: normal;
    font-size: 12px;
}

.emailPhone {
    font-size: 9px;
    color: black;
}

@media (min-width: 530px) {
    .featured-wine {
        max-width: 450px;
    }
}

@media (min-width: 660px) {
    .logo {
        width: 50%;
        margin-top: 0;
    }
    .hero {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
    }

    .subhead {
        justify-self: left;
    }

    .wine-club-cta {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        align-self: start;
        justify-self: left;
    }

    .featured-wine {
        grid-column: 2 / 3;
        grid-row: 1 / 3; 
    }

    .red-section-list {
        display: grid;
        grid-template-columns: 1fr;
    }

    .red-section-list img {
        width: 75%;
        height: auto;
    }

    .history-teaser img {
        max-width: 75vw;
        height: auto;
    }

}

@media (min-width: 900px) {
    .show-desktop {
        display: inherit;
    }
    .hide-desktop {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 30vw 1fr;
        height: 15vh;
    }

    .hero {
        height: 85vh;
    }

    .logo {
        width: 30vw;
        height: auto;
        order: -1;
    }

    #nav {
        background: none;
        color: var(--red);
        display: grid;
        grid-template-columns: repeat(6,1fr);
        position: static;
        width: 100%;
        line-height: 0;
    }

    #nav li {
        background: none;
        margin: 0;
        font-size: 1.3vw;
        place-self: center;\
    }

    a:hover {
        color: red;
    } 

    .featured-wine {
        justify-self: right;
    }

    .wine-club-cta {
        justify-self: center;
    }

    .wine-club-cta h1 {
        font-size: 3vw;
    }

    .red-section-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr)
    }

    .red-section-list img {
        width: 25vw;
    }

    .container {
        max-width: 1500px;
    }

}