/* tasting start */

.articles h1 {
    font-family: Georgia, serif;
}

.articles img {
    width: 100%;
    border: 3px solid black;
}

/* map */
.map {
    display: grid;
    grid-template-columns: 1fr;
    height: 105vh;
}

.map img {
    justify-self: center;
    width: 90vw;
    margin: 5vh 0;
}

.map h1 {
    font-family: var(--serif);
}

.map h2 {
    margin: 0;
    font-family: var(--serif);
    color: var(--gold);
    font-size: 5vw;
}

.map ul {
    margin-top: 0;
}

/* footer */

address {
    color: var(--gold);
}

.emailPhone {
    color: white;
}

@media (min-width: 530px) {
    
    .map h2 {
        font-size: 3vw;
    }

    .instructions {
        font-size: 2vw;
    }
    
    .map img {
        margin: 0;
    }

    .south {
        margin-left: 40vw;
    }
}

@media (min-width: 760px) {
    .map img {
        max-width: 700px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

@media (min-width: 900px) {

    .article {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: auto 1fr;
        align-items: start;
        grid-gap: 20px;
        margin-top: 50px;
    }

    .right img {
        order: -1;
    }

    .article img {
        grid-row: span 2;
    }

    .article h1, .article-text{
        margin: 0;
    }

    .article-text {
        font-size: 1.5vw;
    }

    .north {
        margin-left: 0;
    }

    .map h2 {
        font-size: 30px;
    }

    .instructions {
        font-size: 22px;
    }

}