.table-cont {
    text-align: center;
    display: grid;
    justify-content: center;
}

.table {
    display:grid;
    grid-template-columns: 1fr;
    font-size: 2.6vw;
    max-width: 800px;
    margin-bottom: 20px;
}

.table h2 {
    text-align: center;
    font-family: var(--serif);
}

.row, .title-row {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
}

.title-row {
    font-weight: 900;
}

.text {
    text-align: left;
}

.number {
    text-align: right;
}

@media (min-width: 900px) {
    .table {
        font-size: 23px;
    }
}